<% if @activities.count != 0 %>

    <table cellspacing="0">
	  <thead>
        <tr>
            <td>Start Time</td>
			<td>End Time</td>
            <td>Activity</td>
			<td>Specific Activity</td>
            <td>Time</td>
                   
        </tr>
      </thead> 
	  <tbody>
  	    <%= render :partial => 'activity', :collection => @activities %>
	  </div>
</table>
<% end %>
