<% if @activities.count != 0 %>
<div style='margin-left:5px;margin-right:5px'>
    <table cellspacing="0">
	  <thead>
        <tr>
            <td>Start Time</td>
			<td>End Time</td>
            <td>Activity</td>
			<td>Specific Activity</td>
            <td>Time</td>
                   
        </tr>
      </thead> 
	  <tbody>
  	    <%= render :partial => 'activity', :collection => @activities %>
	  </tbobdy>	
    </table>
</div>
<% end %>
