
<div id="login">
       <h2>Login to Kairos</h2>

<%= form_tag :action => :login do %>
		<p>
		<label for="username">Username</label>	
        <%= text_field_tag :username,nil,:size => 28 %>
  		</p>
		<p>
		<label for="password">Password</label>	
        <%= password_field_tag :password,nil,:size => 28 %>
		</p>
    <div style="margin-left:20px;margin-bottom:10px;text-align:center;">
        <%= submit_tag "Login →" %>
    </div>
<% end %>
</div>
