
    <%= link_to('Sign out', logout_url,:class => 'right') %> 
    <%= link_to('My Profile |',edit_person_url(current_user), :class => 'right') %>
    <div class='right' style='margin-right: 3px'>
      <%= current_user.name + " " + "|" %> 
    </div>

